        /* Estilos para el modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            background-color: #fff;
            width: 50%;
            margin: 100px auto;
            padding: 20px;
        }

        /* Estilos para el formulario de agregar perfil */
        .formulario-agregar {
            margin-top: 20px;
        }
        

        #btnAgregarPerfil {
            display: block;
            margin-top: 100px; /* Ajusta la distancia desde el título */
            margin-left: -170px; /* Ajusta la distancia desde el lado izquierdo */
            margin-bottom: 20px; /* Ajusta la distancia desde la lista de perfiles */
        }

